.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--background-backdrop);
  transition: var(--transition-backdrop);
}
.is-hidden {
  opacity: 0;
  visibility: visible;
  pointer-events: none;
}
