.customers {
  padding-bottom: 94px;
  padding-top: 94px;
}

.customers__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.customers__title {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: $letter-spacing;
}

.customers__list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: auto;
  fill: $third-color;
}
.customers__item:not(:last-child) {
  margin-right: 30px;
}
.customers__item {
  display: flex;
  justify-content: center;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  fill: $social-logo-color;
  border: 1px solid $social-logo-color;
  border-radius: 4px;
  transition: $transition-icon-social;
}

.customers__link:hover,
.customers__link:focus {
  border-color: $secondary-color;
  fill: $secondary-color;
}
