.team__icon--list {
  display: flex;
  justify-content: center;

  gap: 10px;
}
.team__icon--link {
  width: 44px;
  height: 44px;

  background-color: $third-color;
  border-radius: 50%;
  transition: $transition-icon-social;
}

.team__icon--link:hover,
.team__icon--link:focus {
  width: 44px;
  height: 44px;

  background-color: $secondary-color;
  border-radius: 50%;
  transition: $transition-icon-social;
}

.team__icon--social {
  transition: $transition-icon-social;
}
